.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-height: 600px;
  width: 450px;
  background-color: var(--calcBackground);
  padding: var(--padding);
  border-radius: var(--borderRadius);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  padding: var(--padding);
  gap: 10px;
}

.numbersContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 450px;
}

.calcButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc((100% - (var(--buttonMargin) * 12)) / 6);
  width: calc((100% - (var(--buttonMargin) * 8)) / 4);
  margin: var(--buttonMargin);
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: var(--buttonColor);
}

.altButton {
  background-color: var(--buttonColorAlt);
}

.equalsButton {
  background-color: var(--buttonColorEquals);
}

.display {
  height: 45px;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 2rem;
}

.history {
  height: 95px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1.3rem;
}