.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-height: 600px;
  width: 450px;
  background-color: var(--calcBackground);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-color: green;
  padding: var(--padding);
  gap: 10px;
}

.numbersContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 450px;
  background-color: yellow;
}

.calcButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc((100% - 6rem) / 6);
  width: calc((100% - 4rem) / 4);
  background-color: red;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: var(--borderRadius);
}

.display {
  height: 45px;
  width: 100%;
  background-color: blue;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 2rem;
}

.history {
  height: 95px;
  width: 100%;
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1.3rem;
}